[package]
name = "hyperlane-quick-start"
version = "9.4.5"
readme = "README.md"
edition = "2024"
authors = ["root@ltpp.vip"]
license = "MIT"
description = """A lightweight rust http server with middleware, websocket, sse, and tcp support, built on tokio for cross-platform async networking, hyperlane simplifies modern web service development."""
keywords = ["http", "request", "response", "tcp", "cross-platform"]
repository = "https://github.com/hyperlane-dev/hyperlane-quick-start.git"
categories = ["network-programming", "web-programming"]
exclude = [
    "tmp",
    "logs",
    "target",
    ".github",
    ".vscode",
    "process",
    "node_modules",
    "**/*.pid",
    "**/*.log",
    "Cargo.lock",
]

[workspace]
resolver = "3"
members = ["app", "config", "init", "plugin", "resources"]

[workspace.dependencies]
hyperlane_app = { path = "app", version = "9.4.3" }
hyperlane_config = { path = "config", version = "9.4.3" }
hyperlane_init = { path = "init", version = "9.4.3" }
hyperlane_plugin = { path = "plugin", version = "9.4.3" }
hyperlane_resources = { path = "resources", version = "9.4.3" }

tracing = "0.1.44"
hyperlane = "11.0.10"
hyperlane-utils = "14.5.1"
serde = { version = "1.0.228", features = ["derive"] }

[dependencies]
hyperlane_init = { workspace = true }
serde = { workspace = true }
serde_json = { version = "1.0.149", features = ["preserve_order"] }

[patch.crates-io]
hyperlane_app = { path = "app" }
hyperlane_config = { path = "config" }
hyperlane_init = { path = "init" }
hyperlane_plugin = { path = "plugin" }

[profile.dev]
incremental = true
opt-level = 1
lto = false
panic = "unwind"
debug = false
codegen-units = 16
strip = "none"

[profile.release]
incremental = false
opt-level = 3
lto = true
panic = "unwind"
debug = false
codegen-units = 1
strip = "debuginfo"
