[package]
name = "hyperlane-quick-start"
version = "9.0.1"
readme = "README.md"
edition = "2024"
authors = ["root@ltpp.vip"]
license = "MIT"
description = """A lightweight rust http server with middleware, websocket, sse, and tcp support, built on tokio for cross-platform async networking, hyperlane simplifies modern web service development."""
keywords = ["http", "request", "response", "tcp", "cross-platform"]
repository = "https://github.com/hyperlane-dev/hyperlane-quick-start.git"
categories = ["network-programming", "web-programming"]
exclude = ["target", "Cargo.lock", ".github", "tmp", "**/*.pid", "**/*.log"]

[workspace]
members = ["app", "config", "init", "plugin"]

[workspace.dependencies]
hyperlane_app = { path = "app", version = "0.1.0" }
hyperlane_config = { path = "config", version = "0.1.0" }
hyperlane_init = { path = "init", version = "0.1.0" }
hyperlane_plugin = { path = "plugin", version = "0.1.0" }

tracing = "0.1.44"
hyperlane = "11.0.8"
hyperlane-utils = "14.3.12"
serde = { version = "1.0.228", features = ["derive"] }

[dependencies]
hyperlane_init = { workspace = true }

[patch.crates-io]
hyperlane_app = { path = "app" }
hyperlane_config = { path = "config" }
hyperlane_init = { path = "init" }
hyperlane_plugin = { path = "plugin" }

[profile.dev]
incremental = true
opt-level = 1
lto = false
panic = "unwind"
debug = false
codegen-units = 16
strip = "none"

[profile.release]
incremental = false
opt-level = 3
lto = true
panic = "unwind"
debug = false
codegen-units = 1
strip = "debuginfo"

[workspace.lints.clippy]
# 禁止使用 _ 作为类型占位符，要求明确指定类型
let_underscore_untyped = "deny"
