.center-text {
  text-align: center;
}
a {
  color: #1e90ff;
  text-decoration: none;
  transition:
    color 0.3s,
    border-bottom-color 0.3s;
}
a:hover,
a:focus {
  color: pink;
  border-bottom-color: pink;
  outline: none;
  cursor: pointer;
}
